<nav class="navbar navbar-expand-sm navbar-dark mb-3" style="background-color: 	
#9E0606; height: 80px">
<div class="container">
  <a href="/" class="navbar-brand">Giorgio's Pizzeria</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggle-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto"> 
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="/categorieën" class="nav-link">Bestellen</a>
      </li>
      <li class="nav-item" style="margin-left: 955px">
        <a href="/inloggen" class="nav-link">Inloggen</a>
      </li>
    </ul>
  </div>
</div>
</nav>

