{% extends 'base.html.twig' %}

{% block title %}Inloggen{% endblock %}

{% block body %}
<h3 class="text-center">Welkom bij Giorgio's Pizzeria</h3>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="images/giorgios-pizza.jpg">
    </div>
    <div class="col-md-6">
      <img src="images/pizza.jpg">
    </div>
  </div>
</div>
<style>
  img {
    height: 400px;
    width: 700px;
    margin-bottom: -600px;
    margin-left: -30px;
    
    border-radius: 3px;
  }

  h3 {
    margin-bottom: -50px;
    margin-right: 20px;
  }

  .order {
    position: absolute;
    top: 620px;
    left: 94px;
  }
</style>
{% endblock %}

